@model Webkd.Models.usuariorol

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>usuariorol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>

        <dd>
            @Webkd.Controllers.UsuarioRolController.nombreusuario(Model.idUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idRol)
        </dt>

        <dd>
            @Webkd.Controllers.UsuarioRolController.Descripcionrol(Model.idRol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
