@model IEnumerable<Webkd.Models.producto>

@{
    ViewBag.Title = "PRODUCTO";
}

<h2>Producto</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            NOMBRE
        </th>
        <th>
            PRECIO UNITARIO
        </th>
        <th>
            DESCRIPCION
        </th>
        <th>
            CANTIDAD
        </th>
        <th>
            PROVEEDOR
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.percio_unitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Webkd.Controllers.productoController.NombreProveedor(item.id_proveedor)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Reporte", "Reporte")
@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿Esta seguro de eliminar?')) {
                event.preventDefault();
            }
        })
    </script>
}